<h2>Profile</h2>

<h3><%= User.find(params[:id]).first_name %> <%= User.find(params[:id]).last_name %></h3>

<hr />

<h3>Messages</h3>

<ul>
    <% @messages.each do |message| %>
        <li><%= message.body %> <%= message.sender.id %></li>
    <% end %>
</ul>

<hr />

<h3>Send message</h3>

